.element-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.footer-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr 5fr;
  color: var(--text-color);
  padding: 1rem;
  box-sizing: border-box;
}

.container {
  color: var(--text-color);
  padding: 2em;
  /* width: calc(100% - 3rem); */
  box-sizing: border-box;
  display: inline-block;
}

.toggle-cont {
  padding: 0;
  width: 3rem;
  height: 2rem;
  position: relative;
  user-select: none;
  margin-right: 2em;
  margin-bottom: .5rem;
  align-self: center;
}

.toggle-cont input:checked ~ .checkmark {
  background: radial-gradient(var(--white), var(--accent-color) 200%);
  background: var(--accent-color);
}

.table-cont {
  overflow-x: scroll;
}
