@import url('default-pallete.css');
.danger {
  --accent-color: var(--danger);
  --accent-color-2: var(--orange);
  color: var(--danger);
}

.positive {
  --accent-color: var(--positive);
  --accent-color-2: var(--green);
  color: var(--positive);
}

.normal {
  --accent-color: var(--purple);
  --accent-color-2: var(--purple);
}

.orange {
  --accent-color: var(--orange);
  --accent-color-2: var(--yellow);
}
