@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('button.css');
@import url('ui-rules.css');
@import url('themes.css');
@import url('knob.css');
@import url('footer.css');
@import url('text.css');
@import url('containers.css');
@import url('element-themes.css');

:root {
  --darkgray: rgba(20, 20, 25);
  --white: rgb(250, 240, 255);
  --white: var(--cream);
  
  --head-1: 7.5rem;
  --head-2: 6rem;
  --head-3: 5rem;
  --head-4: 4rem;
  --head-5: 3.5rem;
  --head-6: 3rem;
  --par: 4rem;

  --btn-padding-h: calc(.3rem + .4em);
  --btn-padding-v: calc(1rem + .4em);
  --border-r: calc(2rem + 1em);
  --footer-h: 10rem;

  --bg-dark: var(--darkgray);
  --bg-light: var(--white);

  --bg: var(--bg-dark);
  --non-bg: var(--white);
  --decoration: unset;

  --text-color: var(--non-bg);

  --button-bg: var(--white);
  --accent-color: var(--darkgray);
  --accent-color-2: var(--non-bg);

  --danger: var(--red);
  --positive: var(--green);

  --font-clr: var(--white);
  --text-secondary: var(--darkgray);

  --role-color: var(--red);
  --visited: var(--orange);
  overflow-y: scroll;
  scrollbar-color: var(--cream) var(--bg);
  scrollbar-width: thin;

  --min-width: 3em;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  gap: 2em;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

*::selection {
  color: var(--black);
  background-color: var(--accent-color-2);
}

input.ui {
  padding-left: 2em;
  outline: none;
  max-width: 80%;
}

select {
  outline: none;
  appearance: none;
  background-image: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 3em;
}

epilogue {
  padding-top: 4em;
  padding-bottom: 4em;
  grid-area: e;
  justify-self: center;
}

epilogue h4 {
  display: inline-block;
}
@keyframes wbicie {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.tekst {
  display: flex;
  flex-direction: column;
}

.rola {
  display: inline-block;
  padding: 0 .5em;
  max-width: 6em;
  background-color: var(--role-color);
  border-radius: 1em;
}

.karta h2 {
  color: var(--accent-color);
  text-align: center;
}
.date {
  grid-area: date;
}

article > a.ui {
  grid-area: more;
}

.body-text {
  margin: 0 auto;
}
